<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ProdLoginUrl" value="https://productionSite.com.au/" />
    <add key="DevLoginUrl" value="http://localhost/wng/home"/>
    <!-- dev | prod -->
    <add key="AppRunMode" value="dev"/>
  </appSettings>
</configuration>